<ul>
  {{#each question in model}}
    <li>{{question.question}}: {{question.author}}</li>
  {{/each}}
</ul>

<!-- {{#link-to 'new-question' classNames='btn btn-success'}} New Questions {{/link-to}} -->
